on: [push]
jobs:
  js_build:
    runs-on: ubuntu-18.04
    name: JS tests for bisweb
    steps:
    - name: Clone
      run: |
        mkdir -p /tmp/bisweb/src
        cd /tmp/bisweb
        git clone https://github.com/bioimagesuiteweb/bisweb src
        cd src
        git checkout devel
        git pull
        cp npm-shrinkwrap-orig.json npm-shrinkwrap.json
    - name: clone2
      run: |
        cd /tmp/bisweb
        mkdir -p /tmp/bisweb/gpl
        git clone https://github.com/bioimagesuiteweb/gplcppcode gpl
        cd gpl
        git pull
    - name: Global Prereqs
      run: |
        sudo npm install -g gulp mocha rimraf
        sidp python3 -m pip install --upgrade pip
        sudo python3 -m pip install numpy nibabel
    - name : Local Prereqs 1
      run: |
        cd /tmp/bisweb/src
        npm install -d
        node config/createbuild.js
        python3 -m pip install --user -r biswebpython/config/requirements.txt
    - name: Results
      run: echo "${{ steps.run.outputs.result}}"
    - name: Logfile
      run: echo "${{ steps.run.outputs.logfile}}"
    