on: [push]

jobs:
  hosted_build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest]
    name: bisweb-test
    steps:
    - name: Environment Setup
      run: |
        cp /c/hostedtoolcache/windows/Python/3.7.7/x64/python.exe /c/hostedtoolcache/windows/Python/3.7.7/x64/python3.exe
        echo "----------------------------------------------------"
        echo "git = `which git` `git --version`"
        echo "python = `which python` `python --version`"
        echo "python = `which python3` `python3 --version`"
        echo "node = `which node` `node --version`"
        echo "----------------------------------------------------"
        pwd
      shell: bash
