on: [push]
jobs:
  js_build:
    runs-on: ubuntu-18.04
    name: JS tests for bisweb
    steps:
    - name: Mkdir
      run: mkdir -p /tmp/bisweb/src ; mkdir -p /tmp/bisweb/gpl; 
    - name: clone
      run: cd /tmp/bisweb; git clone https://github.com/bioimagesuiteweb/bisweb src; cd src; git checkout devel; git pull
    - name: clone_fix
      run: cd /tmp/bisweb/src; cp npm-shrinkwrap-orig.json npm-shrinkwrap.json
    - name: clone2
      run: cd /tmp/bisweb; git clone https://github.com/bioimagesuiteweb/gplcppcode gpl; cd gpl; git pull
    - name: Global Prereqs
      run: sudo npm install -g gulp mocha rimraf; python3 python3-pip python3-setuptools
    - name : Local Prereqs 1
      run: cd /tmp/bisweb/src; npm install -d
    - name : Local Prereqs 2
      run: cd /tmp/bisweb/src; node config/createbuild.js
    - name : Local Prereqs 3
      run: cd /tmp/bisweb/src;  python3 -m pip install --user -r biswebpython/config/requirements.txt
    - name: Results
      run: echo "${{ steps.run.outputs.result}}"
    - name: Logfile
      run: echo "${{ steps.run.outputs.logfile}}"
    